<!-- This form is confusing--it needs a destination URL as well as a method: ? by creating have i properly done the dest msg-->
<form action="create" method="post">
  <input type="submit" value="New Game"/>
</form>
